@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

html,
body {
    height: auto;
    width: 99.5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    animation: carga 0.5s forwards;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 1px;
}

.container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background: black;

    &.active {
        background: white;
    }

    .black-light {
        position: fixed;
        border-radius: 50px;
        border: 1px solid white;
        z-index: 2;
        height: 25px;
        width: 50px;
        background: white;
        right: 1%;
        top: 95%;
        transition: 1s;

        &.active1 {
            background: black;
            transition: 1s;
        }

        .circle {
            position: absolute;
            height: 25px;
            width: 25px;
            background-color: black;
            border-radius: 50%;
            right: 50%;
            transition: 1s;
            animation: btn-black 1s forwards;

            &.active1 {
                animation: btn-white 1s forwards;
            }
        }
    }

    .present {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1.5s;
        background: black;

        &.active {
            animation: present-leave 1.5s forwards;
        }

        &.active2 {
            background: white;
        }

        .bg-bb {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .bubles {
                justify-content: center;
                align-items: center;
                position: absolute;
                display: flex;
                z-index: 0;

                .bubble {
                    position: relative;
                    width: 30px;
                    height: 30px;
                    background: #ffffff;
                    margin: 0 4px;
                    border-radius: 50%;
                    box-shadow: 0 0 0 10px #ffffffaa, 0 0 50px #ffffff, 0 0 100px #ffffff;
                    animation: lum-blob 15s linear infinite;
                    animation-duration: calc(125s / var(--i));
                    transition: 0.5s;

                    &.active {
                        background: #000000;
                        box-shadow: 0 0 0 10px #1f1f1faa, 0 0 50px #1f1f1f,
                            0 0 100px #1f1f1f;
                        transition: 0.5s;
                    }

                    &:nth-child(even) {
                        background: #3b3b3b;
                        box-shadow: 0 0 0 10px #3b3a3a66, 0 0 50px #3b3b3b,
                            0 0 100px #3b3b3b;
                    }
                }
            }
        }

        .images {
            margin: 0 10px 0 10px;
            position: absolute;
            height: 80%;
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: transparent;
            z-index: 1;

            div {
                position: relative;
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                background: transparent;
            }

            .img {
                height: 100px;
                width: 100px;
                background: transparent;
                margin: 10px;
                transition: 0.5s;

                &:hover {
                    transform: scale(1.1);
                    transition: 0.5s;
                }
            }

            .text-prs {
                background: transparent;
                margin: 20px;
                font-size: 50px;
                text-justify: auto;
                font-weight: bold;
                text-shadow: 0 0 10px rgb(255, 255, 255);
                transition: 1s;
                text-align: center;
                color: white;

                &.active {
                    color: black;
                    transition: 1s;
                }
            }

            .enter {
                border: 0;
                border-radius: 10px;
                padding: 10px;
                color: black;
                background: white;
                font-size: 30px;
                transform: perspective(500px) rotateX(20deg);
                box-shadow: 0 20px 1px 1px gray;
                transition: 0.5s;

                &.active {
                    margin-top: 10px;
                    box-shadow: 0 10px 1px 1px gray;
                    transition: 0.5s;
                }
            }

            @media only screen and (max-width: 400px) {
                .img {
                    width: 80px;
                    height: 80px;
                }

                .text-prs {
                    font-size: 30px;
                    text-align: center;
                }

                .enter {
                    height: 50px;
                    width: 100px;
                    font-size: 15px;
                    box-shadow: 0 10px 1px 1px gray;
                    transition: 0.5s;
                }
            }
        }
    }

    .present2 {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 0;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        display: none;

        &.active {
            background: white;
        }

        &.active2 {
            display: flex;
        }

        .nav {
            position: relative;
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .list-nav {
                margin-top: 4%;
                position: fixed;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 60px;
                z-index: 1;
                backdrop-filter: blur(10px);
                background: transparent;

                ul {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    list-style: none;
                }

                .nav-opt {
                    height: 100%;
                    width: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    border-radius: 20px;
                    transition: 1s;

                    &.select {
                        background: white;
                        color: black;
                    }

                    &:hover {
                        transition: 1s;
                        background: white;
                        color: black;
                    }

                    &.active {
                        transition: 1s;
                        color: black;

                        &:hover {
                            transition: 1s;
                            background: black;
                            color: white;
                        }

                        &.select {
                            background: black;
                            color: white;
                        }
                    }

                    .select {
                        background: white;
                    }
                }

                a {
                    height: 80%;
                    text-decoration: none;
                }
            }

            @media only screen and (max-width: 450px) {
                .list-nav {
                    margin-top: 15%;
                    width: 100%;
                }

                .nav-opt {
                    margin-left: 0px;
                    font-size: 15px;
                }
            }

            @media only screen and (min-width: 400px) {
                .nav-opt {
                    margin-left: 15px;
                }
            }
        }

        .body {
            height: 80%;
            width: 90%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            #inicio {
                margin-top: 3%;
                min-height: 700px;
                max-height: auto;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                color: white;
                padding-top: 10px;

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50%;
                    width: 80%;
                }

                .img {
                    height: 400px;
                    width: 400px;
                    filter: drop-shadow(1px 1px 10px white);
                }

                .text {
                    flex-wrap: wrap;
                    font-size: 30px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;

                    &.active {
                        color: black;
                    }
                }

                @media only screen and (max-width: 420px) {

                    /* #inicio{
                        flex-direction: column;
                    } */
                    .img {
                        height: 300px;
                        width: 300px;
                    }

                    div {
                        margin-top: 0%;
                        width: 80%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 5px;
                    }
                }

                @media only screen and (max-width: 800px) {
                    div {
                        flex-direction: column;
                    }

                    .text {
                        margin-top: 10px;
                        font-size: 20px;
                        width: 80%;
                    }
                }
            }

            #sobre-mi {
                position: relative;
                margin-top: 5%;
                min-height: 700px;
                max-height: auto;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                color: white;
                flex-direction: column;

                .text {
                    margin-top: 70px;
                    width: 90%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    h1 {

                        width: 100%;
                        border: 1px solid;
                        border-color: transparent transparent white transparent;
                        margin-bottom: 20px;

                        &.active {
                            border-color: transparent transparent black transparent;
                        }
                    }

                    span {
                        max-width: 50%;
                        min-width: 100%;
                        font-size: 20px;
                    }

                    &.active {
                        color: black;
                    }
                }

                .cards {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .about {
                        margin-top: 15px;
                        font-weight: bold;
                        text-align: center;
                        width: 100px;
                        background-color: #f6f6f6;
                        color: black;
                        border-radius: 50px;
                        box-shadow: 0px 5px 0px 0px #888888;
                        padding: 15px;
                        transition: 0.5s;
                        z-index: 1;

                        &.active {
                            background: #d1d1d1;
                            color: #000000;
                            box-shadow: 0px 5px 0px 0px #b0b0b0;
                        }

                        &:hover {
                            margin-top: 20px;
                            transition: 0.5s;
                            box-shadow: 0px 0px 0px 0px gray;
                        }

                        &.press {
                            margin-top: 15px;
                            transition: 0.5s;
                            box-shadow: 0px 0px 0px 0px gray;
                        }
                    }

                    .sp-card {
                        margin-right: 1%;
                        height: auto;
                        width: 99.5%;
                        display: flex;
                        justify-content: center;
                        align-items: start;
                        flex-wrap: wrap;
                        overflow: hidden;
                        transition: 5s;

                        .skill {
                            padding: 10px;
                            height: 0px;
                            opacity: 0;
                            margin: 30px 0px 0px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            width: auto;
                            transition: 0.5s;
                            flex-direction: column;
                            overflow: hidden;
                            animation: card-skill-leave 1.5s forwards;

                            &.about-more {
                                transition: 5s;
                                animation: card-skill 1.5s forwards;
                            }

                            .txt-skill {
                                font-weight: bold;
                                display: flex;
                                text-align: center;
                                width: auto;
                                background: white;
                                color: black;
                                border-radius: 20px;
                                padding: 15px;
                                z-index: 1;
                                font-size: 15px;

                                &.active {
                                    background: #d1d1d1;
                                }
                            }

                            .card {
                                background: white;
                                border-radius: 15px;
                                color: black;
                                margin-top: -30px;
                                text-align: center;
                                display: flex;
                                justify-content: start;
                                align-self: start;
                                height: auto;
                                max-width: 300px;
                                min-width: 280px;
                                padding: 20px;

                                &.active {
                                    background: #d1d1d1;
                                    color: #000000;
                                }

                                ul {
                                    list-style-type: none;
                                    display: flex;
                                    flex-direction: column;
                                    width: 100%;

                                    li {
                                        width: 100%;
                                        margin-top: 10px;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;

                                        .lvl-skill {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;

                                            i {
                                                transform: scale(1.1);
                                            }

                                            img {
                                                height: 15px;
                                                width: 20px;
                                                filter: saturate(0);
                                            }

                                            div {
                                                border-radius: 50px;
                                                margin-left: 5px;
                                                height: 5px;
                                                width: 40px;
                                                border: 1px solid black;
                                            }
                                        }

                                        .skill-lv1 {
                                            div {
                                                border-radius: 50px;
                                                margin-left: 5px;
                                                height: 5px;
                                                width: 40px;
                                                border: 1px solid black;
                                            }

                                            &.active {

                                                div {
                                                    border: 1px solid white;
                                                }

                                                div:nth-child(1) {
                                                    background: white;
                                                }
                                            }

                                            div:nth-child(1) {
                                                background: black;
                                            }
                                        }

                                        .skill-lv2 {
                                            div {
                                                border-radius: 50px;
                                                margin-left: 5px;
                                                height: 5px;
                                                width: 40px;
                                                border: 1px solid black;
                                            }

                                            &.active {

                                                div {
                                                    border: 1px solid white;
                                                }

                                                div:nth-child(1),
                                                :nth-child(2) {
                                                    background: white;
                                                }
                                            }

                                            div:nth-child(1),
                                            :nth-child(2) {
                                                background: black;
                                            }
                                        }

                                        .skill-lv3 {
                                            div {
                                                border-radius: 50px;
                                                margin-left: 5px;
                                                height: 5px;
                                                width: 40px;
                                                border: 1px solid black;
                                            }

                                            &.active {

                                                div {
                                                    border: 1px solid white;
                                                }

                                                div:nth-child(1),
                                                :nth-child(2),
                                                :nth-child(3) {
                                                    background: white;
                                                }
                                            }

                                            div:nth-child(1),
                                            :nth-child(2),
                                            :nth-child(3) {
                                                background: black;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                @media only screen and (max-width: 400px) {
                    h1 {
                        width: 100%;
                    }

                    span {
                        margin-top: 0%;
                        width: 100%;
                        font-size: 5px;
                    }
                }
            }
        }

        #proyectos {
            height: auto;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            color: white;
            flex-direction: column;

            h1 {
                margin: 20% 5% 5% 5%;
            }

            &.active {
                color: black;
            }

            .projects {
                height: 700px;
                width: 90%;
                display: flex;
                justify-content: start;
                align-items: start;

                a {
                    color: white;
                }

                .project {
                    border: 1px solid white;
                    position: relative;
                    border-radius: 10px;
                    width: 300px;
                    height: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 1s;
                    overflow: hidden;

                    &.active{
                        transition: 1s;
                        border: 1px solid black;
                    }



                    .blur-bl {
                        border: 1px solid white;
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                        transition: 1s;

                        &.active {
                            transition: 1s;
                            filter: blur(10px);
                        }

                    }

                    .blur-wt {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        transition: 1s;
                        border: 1px solid black;

                        &.active {
                            transition: 1s;
                            opacity: 1;
                        }

                        &.blur{
                            filter: blur(10px);
                        }
                    }

                    .pj-txt {
                        transition: 1s;
                        top: 110%;
                        font-size: 30px;
                        position: absolute;
                        animation: leave-info-span 0.5s forwards;

                        &.ani {
                            animation: span-ani 0.5s forwards;
                        }

                        &.active{
                            color: black;
                        }
                    }

                    .icons {
                        transition: 1s;
                        height: auto;
                        width: auto;
                        position: absolute;
                        top: 110%;
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        animation: leave-info-ico 0.5s forwards;

                        &.ani {
                            animation: ico-ani 0.5s forwards;
                        }

                        &.active{
                            color: black;
                        }

                        i {
                            margin: 0px 10px 10px 0px;
                            transform: scale(1.5);
                        }
                    }

                    .hover {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                    }

                }
            }

        }

        #contacto {
            margin-top: 5%;
            min-height: 700px;
            max-height: auto;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            color: white;

            &.active {
                color: black;
            }
        }
    }

    .footer {
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Animaciones */
@keyframes carga {
    0% {
        background-color: #000000;
        opacity: 0;
    }

    100% {
        background-color: #000000;
        opacity: 1;
    }
}

/* animación fondo Inicio */
@keyframes lum-blob {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

/* Animación de circulo */
@keyframes btn-white {
    0% {
        background: black;
        right: 50%;
    }

    100% {
        background: white;
        right: 0%;
    }
}

@keyframes btn-black {
    0% {
        background: white;
        right: 0%;
    }

    100% {
        background: black;
        right: 50%;
    }
}

/* Animaciones del boton Empecemos */
@keyframes present-leave {
    0% {
        top: 0%;
    }

    100% {
        top: -100%;
        opacity: 0;
    }
}

/* Boton de About */

@keyframes card-skill {
    0% {
        height: 0px;
        opacity: 0;
    }

    100% {
        height: 350px;
        opacity: 1;
    }
}

@keyframes card-skill-leave {
    0% {
        height: 350px;
        opacity: 1;

    }

    100% {
        height: 0px;
        opacity: 0;
    }
}

@keyframes ico-ani {

    0% {
        top: 110%;
    }

    100% {
        top: 60%;
    }

}

@keyframes span-ani {

    0% {
        top: 110%;
    }

    100% {
        top: 40%;
    }

}

@keyframes leave-info-ico {
    0% {
        top: 60%;
    }

    100% {
        top: 110%;
    }
}

@keyframes leave-info-span {
    0% {
        top: 40%;
    }

    100% {
        top: 110%;
    }
}